[tool.poetry]
name = "nobus"
version = "0.1.1"
description = ""
authors = ["Josh Nobus"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"


[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
